<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title></title>
    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <script language="javascript" src="/assets/js/angular.min.js"></script>
</head>
<body style="height:100%;background-color: #eee;" ng-app="app" ng-controller="mapCtrl">
<div class="container" style="background-color: #ffffff;">
    <div class="row" style="padding: 1rem 0;">
        <div class="col-xs-4 text-left" ng-click="goBack()"><img src="/assets/images/back.png"
                                                                 style="width: 1.7rem; height: 1.6rem;"></div>
        <div class="col-xs-8 text-left title-size">填写验证码</div>
    </div>
</div>
<div class="container">
    <form ng-submit="submit()" name="form">
        <div class="col-xs-12 text-center" style="padding: 2rem 0 1.5rem 0; font-size: 1.4rem; color: #333333;">
            请向设备管理员({{admintelephone}})索取验证码
        </div>
        <div class="col-xs-12 app-white-input" style="line-height: 3rem">
            <div class="col-xs-2 text-right" style=" padding-left: 0;"><img
                    src="/assets/module/activate/images/code.png" style="width: 2.2rem;"></div>
            <div class="col-xs-6" style="padding-left:  0; "><input id="number" type="text" placeholder="请输入验证码"
                                                                    required ng-model="smscode"
                                                                    style="width: 100%; vertical-align: middle;"></div>
            <div class="col-xs-4 text-right" style="padding: 0 ;" ng-click="getCode()">
                <div ng-class="{false:'app-blue-radius-button',true:'app-blue-radius-check-button'}[!verifyStatus]"
                     style="text-align: center;">{{verifyText}}
                </div>
            </div>

            <!--<div style="padding: 0.3rem 0; border: 0;">-->
            <!--<div class="app-bootstrap-padding-zero app-white-input-label text-left" style="display: inline-block; width: 25%; margin-right: -3px;">验证码</div>-->
            <!--<input type="number"  class="app-white-code-text" placeholder="请输入收到的验证码" ng-model="verifyCode" required style="width: 30%;">-->
            <!--<div ng-class="{false:'_bg_bd',true:'bg_bd'}[verifyStatus]"  style="display: inline-block;  width: 40%;">-->
            <!--<div class="text-center" ng-click="getCode()">{{verifyText}}</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>

        <label style="display: block">

            <div class="col-xs-12  text-center"
                 ng-class="{false:'app-little-pink-radius-button',true:'app-pink-radius-button'}[!!smscode]"
                 style="margin-top: 1.5rem;font-size: 1.6rem;">添加
            </div>
            <button type="submit" style="display: none"></button>
        </label>
    </form>
</div>

</body>
<script language="JavaScript" src="/assets/js/auto-set-rem.js"></script>
<script language="javascript" src="/assets/js/toast.js"></script>
<script language="javascript" src="/assets/js/angular-resource/angular-resource.js"></script>
<script>


    var app = angular.module("app", ['ngResource']);

    app.factory('generateSMSCodeService', ['$resource',
        function ($resource) {
            return {
                generateSMSCode: function () {
                    return $resource('/app/device/generateSMSCode', {}, {
                        save: {
                            method: 'GET', params: {}
                        }
                    })
                },
                addGuardian: function () {
                    return $resource('/app/device/addGuardian', {}, {
                        save: {
                            method: 'GET', params: {}
                        }
                    })
                }

            }
        }]);
    app.controller("mapCtrl", ['$scope', '$interval', 'generateSMSCodeService', function ($scope, $interval, generateSMSCodeService) {
        $scope.goBack = function () {
            window.history.go(-1);
        };


        function getUrlParams(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(decodeURI(r[2]));
            return null; //返回参数值
        }


        $scope.admintelephone = getUrlParams('admintelephone');
        $scope.admintelephone = $scope.admintelephone.substr(0, 3) + '****' + $scope.admintelephone.substr(7, 11);
        $scope.deviceid = getUrlParams('deviceid');

        $scope._admintelephone = getUrlParams('admintelephone');

        $scope.mdtid = getUrlParams('mdtid');

        $scope.telephone = getUrlParams('telephone');


        $scope.verifyText = '获取验证码';
        $scope.verifyStatus = true;
        $scope.getCode = function () {


            if (!$scope.verifyStatus) return;
            //   $scope.verifyStatus = false;

            $scope.getVerifyCodeReq = generateSMSCodeService.generateSMSCode().save({
                token: localStorage.appToken,
                telephone: $scope.telephone,
                admintelephone: $scope._admintelephone,
                module: 'scandevice',
                mdtid: $scope.mdtid
            });
            $scope.getVerifyCodeReq.$promise.then(function (res) {
                if (res.code == 10004) {
                    Toast('发送成功');
                    $scope.counter = 120;
                    $scope.verifyStatus = false;
                    var interval = $interval(function () {
                        $scope.verifyText = $scope.counter + 's后可再发送';
                        if ($scope.counter < 1) {
                            $interval.cancel(interval);
                            $scope.verifyStatus = true;
                            $scope.verifyText = '获取验证码'
                        }
                        $scope.counter--;
                    }, 1000)
                } else {
                    Toast(res.msg);
                    $scope.verifyStatus = true;
                }
                console.log(res);
            }).catch(function (error) {
                $scope.$root.loading = false;
                Toast('服务器开小差了~');
                console.log(error);
                $scope.verifyStatus = true;
            })
        };

        $scope.submit = function () {
            $scope.addGuardian = generateSMSCodeService.addGuardian().save({
                token: localStorage.appToken,
                admintelephone: $scope._admintelephone,
                smscode: $scope.smscode,
                deviceid: $scope.deviceid
            }).$promise.then(function (res) {
                console.log(res);
                if (res.code == 10080) {
                    window.location.href = '/map.html'
                } else {
                    Toast(res.msg, 3000);
                }
            })
        }
    }])
</script>
</html>